<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    
    <title>Generar Factura</title>
    
    
        <style>
        body{
font-family: 'Open Sans', sans-serif;
background:  rgba(210,255,82,1);;

}



  .navbar{
    z-index: 999;
    background: none;
    border: 0;
    border-radius: 0;
    
  }

  .navbar, ul > li > a{
      color: black;
      font-weight: bold;
  }

#home{
    
    padding: 50px 0 30px 0;

    
}

#services{
    
    padding: 50px 0 30px 0;

}

#about{
    padding: 50px 0 30px 0;
    background: rgba(73,155,234,1);

}


    </style>
</head>
<body>

          <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container">
          <div class="col-sm-1">
              <a class="navbar-brand" href="#">
                 AntiguaBurger
             </a>
          </div>
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                           
             <div class="container text-center">
                <div class="text-center">
                     <div class="nav price-tabs" role="tablist">
                             <a class="nav-link active" href="http://localhost:8083/menus" role="tab" data-toggle="tab">Nueva Orden</a>
                            
                     </div>
             </div>
            </li>
            
          </ul>
        </div>

        </div>
      </nav>
    
<main class="mt-5 pt-5">


        <div class="row justify-content-center align-items-center">
                <div class="card w-50">
                    <div class="" style="text-align: center">
                        Factura:
                        <strong th:text="${order}"> </strong>
                    </div>
                    <div class="card-body text-center">
                        <h6 class="card-title">Cajero: <a th:text="${nameCashier}"></a> </h6>
                        <h6 class="card-title">Fecha/Hora: <a th:text="${date}"></a> </h6>
                        <h6 class="card-title">Cliente: <a th:text="${nameCustomer}"></a> </h6>
                        <h6 class="card-title">Nit: <a th:text="${taxId}"></a> </h6>
                    </div>
                    <div class="text-center">
                        <div th:text="${combo}">
                        </div>
                    </div>
                    <div class=" text-center">
                        <h4>Menu </h4>
                        <h6 th:each="list, stats : ${menu}"><a th:text="${list}"></a> </h6>
                    </div>
                    <hr class="my-1">
                    <div class=" text-center">
                        <h4>Extras</h4>
                        <h6 th:each="list, stats : ${extras}"><a th:text="${list}"></a> </h6>
                    </div>
                    <div class=" text-muted text-center">
                        <div>
                            <strong>Total: Q <a th:text="${total}"></a><a>.00</a></strong>

                        </div>
                    </div>
                   
                    <div class="card-body text-center">
                        <form th:action="@{/descarga}" >
                        
                            <button type="submit" value="txt" name="btn_file" class="btn btn-success">
                               Generar txt
                            </button>
                           
                        </form>
                    </div>
                </div>
        </div>

    <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

</main>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>